name: "[pterodactyl-debian] Force Build and Push"
# run every two hours to check for updates
on:
#  schedule:
#  - cron: "0 */2 * * *"
  workflow_dispatch:

env:
  #PLATFORMS: "linux/amd64,linux/arm64,linux/arm/v7"
  PLATFORMS: "linux/amd64,linux/arm64"
  #PLATFORMS: "linux/amd64"
  TAG: "1.7.1"

jobs:
  pterodactyl-debian:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push - pterodactyl [debian]
        uses: docker/build-push-action@v6
        with:
          push: true
          file: debian/Dockerfile.pterodactyl
          platforms: ${{ env.PLATFORMS }}
          #   tiltedevolution-pterodactyl
          #     latest-debian
          #     {{ TAG }}-debian
          #   tiltedevolution
          #     pterodactyl-debian
          #     pterodactyl-latest-debian
          #     pterodactyl-{{ TAG }}-debian
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/tiltedevolution-pterodactyl:latest-debian
            ${{ vars.DOCKERHUB_USERNAME }}/tiltedevolution-pterodactyl:${{ env.TAG }}-debian
            ${{ vars.DOCKERHUB_USERNAME }}/tiltedevolution:pterodactyl-debian
            ${{ vars.DOCKERHUB_USERNAME }}/tiltedevolution:pterodactyl-latest-debian
            ${{ vars.DOCKERHUB_USERNAME }}/tiltedevolution:pterodactyl-${{ env.TAG }}-debian
            ghcr.io/${{ github.repository_owner }}/tiltedevolution-pterodactyl:latest-debian
            ghcr.io/${{ github.repository_owner }}/tiltedevolution-pterodactyl:${{ env.TAG }}-debian
            ghcr.io/${{ github.repository_owner }}/tiltedevolution:pterodactyl-debian
            ghcr.io/${{ github.repository_owner }}/tiltedevolution:pterodactyl-latest-debian
            ghcr.io/${{ github.repository_owner }}/tiltedevolution:pterodactyl-${{ env.TAG }}-debian
          build-args: |
            VERSION=${{ env.TAG }}
